.new-tweet {
  width: 100%;
}

.new-tweet textarea {
  padding: 10px;
  margin: 10px 0px;
}

#tweet-text {
  width: 100%;
  background-color: inherit;
  border: 0px solid transparent;
  border-bottom: 5px solid #545149;
}

.post-new-tweet {
  width: 100%; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font: normal 400 18px 'Bungee', sans-serif;
}

.post-new-tweet button {
  background: #4056A1;
  border: 0px solid transparent;
  padding: 4px 12px 2px 10px;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.25s ease;
}

.post-new-tweet button:hover {
  background: #6676aa;
}